.metadata/
.settings/
Debug/
.cproject
.ccsproject
.project
*.userprefs
*.user*
Makefile*
object_script*
*.Debug
*.Release
lnk_*.cmd
*~
moc*.cpp
targetConfigs
Thumbs.db
*.csv
build/
html/
.launches
*.dep
*.ewp
*.eww
*.sfr
settings
targetConfigs
