.codehilite pre .hll { background-color: #ffffcc }
.codehilite pre, .codehilitetable pre { background: #f8f8f8; }
.codehilite pre .c { color: #408080; font-style: italic } /* Comment */
.codehilite pre .err { border: 1px solid #FF0000 } /* Error */
.codehilite pre .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite pre .o { color: #666666 } /* Operator */
.codehilite pre .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite pre .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite pre .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite pre .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite pre .gd { color: #A00000 } /* Generic.Deleted */
.codehilite pre .ge { font-style: italic } /* Generic.Emph */
.codehilite pre .gr { color: #FF0000 } /* Generic.Error */
.codehilite pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite pre .gi { color: #00A000 } /* Generic.Inserted */
.codehilite pre .go { color: #888888 } /* Generic.Output */
.codehilite pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite pre .gs { font-weight: bold } /* Generic.Strong */
.codehilite pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite pre .gt { color: #0044DD } /* Generic.Traceback */
.codehilite pre .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite pre .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite pre .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite pre .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite pre .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite pre .kt { color: #B00040 } /* Keyword.Type */
.codehilite pre .m { color: #666666 } /* Literal.Number */
.codehilite pre .s { color: #BA2121 } /* Literal.String */
.codehilite pre .na { color: #7D9029 } /* Name.Attribute */
.codehilite pre .nb { color: #008000 } /* Name.Builtin */
.codehilite pre .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite pre .no { color: #880000 } /* Name.Constant */
.codehilite pre .nd { color: #AA22FF } /* Name.Decorator */
.codehilite pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite pre .nf { color: #0000FF } /* Name.Function */
.codehilite pre .nl { color: #A0A000 } /* Name.Label */
.codehilite pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite pre .nv { color: #19177C } /* Name.Variable */
.codehilite pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite pre .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite pre .mf { color: #666666 } /* Literal.Number.Float */
.codehilite pre .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite pre .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite pre .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite pre .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite pre .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite pre .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite pre .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite pre .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite pre .sx { color: #008000 } /* Literal.String.Other */
.codehilite pre .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite pre .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite pre .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite pre .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite pre .vc { color: #19177C } /* Name.Variable.Class */
.codehilite pre .vg { color: #19177C } /* Name.Variable.Global */
.codehilite pre .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite pre .il { color: #666666 } /* Literal.Number.Integer.Long */
